<div class="m-130">
  <button class="btn btn-info" (click)="adminLogout()">Logout</button>
<div class="container">
  <h2>Agent Details</h2>
  <p>Here is the agents below and provide them action</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Agent ID</th>
        <th>Payment ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agent of this.agents">
        <td>{{agent.firstName}}</td>
        <td>{{agent.lastName}}</td>
        <td>{{agent.agentId}}</td>
        <td>{{agent.paymentId}}</td>
        <td><button class="btn btn-primary" (click)="getAgentById(agent.agentId)">SHOW</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
