<div class="m-130">
</div>

<div class="container">
    <button class="btn btn-info" (click)="agentLogout()">Logout</button>
  <table>
    <tr>
      <td>Agent ID</td>
      <td></td>
    </tr>
    <tr>
      <td>Name</td>
      <td></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td></td>
    </tr>
    <tr>
      <td>Email</td>
      <td></td>
    </tr>
    <tr>
      <td>SSN</td>
      <td></td>
    </tr>
    <tr>
      <td>Payment ID</td>
      <td></td>
    </tr>
  </table>
</div>

<div class="container i-d-s">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <h3 class="text-center">Image Upload</h3>
        <img [src]="url" height="200"> <br />
        <input type='file' (change)="onSelectFile($event)">
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Documents Upload</h3>
        <input type='file' (change)='uploadFile($event)' id="user_file"
        accept=".pdf,.doc,.docx">
      </div>
    </div>
  </div>
</div>