<div class="m-130"></div>
<div class="container-fluid p-0">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="../../../assets/imgs/Home Banner Background.svg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="">
                  <p class="wehelp">We help you<br> maximise your financial <br>
                    for a better future</p>
                  <button class="btn btn-default btn-lg join-btn">
                    <a [routerLink]="['/register']">Join Us</a>
                 
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/imgs/Home Page Banner Image.jpg" style="width:70%">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="../../../assets/imgs/Home Page banner background.svg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="">
                  <p class="wehelp">We help you<br> maximise your financial <br>
                    for a better future</p>
                                    <button class="btn btn-default btn-lg join-btn">
                    <a [routerLink]="['/register']">Join Us</a>
                 
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/imgs/Home Page Banner Image.jpg" style="width:70%">
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- 
      =============================================
        What We Do
      ============================================== 
      -->
<div class="m-100"></div>
<div class="what-we-do">
  <div class="container">
    <p class="lead">
      Make your move by becoming a business owner in the financial industry- armed <br>with our system, technology,
      marketing, leadership, business model, and training.<br>Take the next step with one of our associates today.
    </p>

    <div class="row m-t-70">
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
        <div class="single-block">
          <div class="icon color-one"><i class="flaticon-note"></i></div>
          <h6>Equal Opportunity </h6>
          <h5><a href="#" class="tran3s">Everyone starts at top compensation</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
        <div class="single-block">
          <div class="icon color-two middle-block"><i class="flaticon-bar-chart2"></i></div>
          <h6>Nationwide</h6>
          <h5><a href="#" class="tran3s">Build Business with full-time thinkers</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 hidden-sm col-xs-12 wow fadeInRight">
        <div class="single-block">
          <div class="icon color-three"><i class="flaticon-diamond"></i></div>
          <h6>Revenue Sharing</h6>
          <h5><a href="#" class="tran3s">Lifetime company revenue sharing</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.what-we-do -->



<!-- 
      =============================================
        More About Us
      ============================================== 
      -->
<div class="more-about-us">
  <div class="image-box">
    <!-- <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      width="854" height="632">
      <clipPath class="clip1">
        <use xlink:href="#shape-one" />
      </clipPath>
      <g clip-path="url(#shape-one)">
        <image width="854" height="632" href="../../../assets/images/home/2.jpg" class="image-shape">
        </image>
        <image src="../../../assets/imgs/Group 144.jpg" class="image-shape"></image>
      </g>
    </svg> -->
    <img width="854" height="632" src="../../../assets/imgs/Group 144.svg">
  </div>
  <!-- <div class="theme-shape-three"></div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-offset-5">
        <div class="main-content">
          <h2>Your future is in right hands with
            Max Agent Financial</h2>
          <div class="main-wrapper">
            <h4>Independent financial services organisation</h4>
            <p>We are building a new Industry & replace the old outdated
              one by educating families on various financial concepts
              in general & learn how to regain control of your money.</p>
            <img src="../../../assets/images/home/sign.png" alt="sign">
            <div class="button-wrapper p-bg-color mafbackground">
              <span class="white">Learn More</span>
              <a href="about-us.html" class="hvr-icon-wobble-horizontal">More About us <i class="fa fa-long-arrow-right"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- 
      =============================================
        Theme Counter
      ============================================== 
      -->
<div class="theme-counter">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="single-box">
          <h2 class="number"><span class="timer" data-from="0" data-to="2730" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
          <p>Personal Agents</p>
        </div> <!-- /.single-box -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="single-box">
          <h2 class="number"><span class="timer" data-from="0" data-to="39" data-speed="1000" data-refresh-interval="5">0</span></h2>
          <p>United States</p>
        </div> <!-- /.single-box -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="single-box">
          <h2 class="number"><span class="timer" data-from="0" data-to="125" data-speed="1000" data-refresh-interval="5">0</span>M</h2>
          <p>Revenue Shared</p>
        </div> <!-- /.single-box -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="single-box border-fix">
          <h2 class="number"><span class="timer" data-from="0" data-to="12" data-speed="1000" data-refresh-interval="5">0</span></h2>
          <p>Service Offerings</p>
        </div> <!-- /.single-box -->
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.theme-counter -->


<!-- 
      =============================================
        Our Portfolio
      ============================================== 
      -->
<!-- <div class="our-portfolio">
        <div class="container">
          <div class="theme-title">
            <h6>Recent work</h6>
            <h2>We’ve done lot’s of work, Let’s <br>Check some from here</h2>
            <a href="portfolio-v1.html" class="tran3s">See All projects</a>
          </div> 
        </div> 

        <div class="wrapper">
          <div class="row">
            <div class="portfolio-slider">
              <div class="item">
                <div class="image">
                  <img src="../../../assets/images/portfolio/1.jpg" alt="">
                  <div class="opacity tran4s"><a data-fancybox="project" href="../../../assets/images/portfolio/1.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                </div>
              </div>
              <div class="item">
                <div class="image">
                  <img src="../../../assets/images/portfolio/2.jpg" alt="">
                  <div class="opacity tran4s"><a data-fancybox="project" href="../../../assets/images/portfolio/2.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                </div>
              </div>
              <div class="item">
                <div class="image">
                  <img src="../../../assets/images/portfolio/3.jpg" alt="">
                  <div class="opacity tran4s"><a data-fancybox="project" href="../../../assets/images/portfolio/3.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                </div>
              </div>
              <div class="item">
                <div class="image">
                  <img src="../../../assets/images/portfolio/4.jpg" alt="">
                  <div class="opacity tran4s"><a data-fancybox="project" href="../../../assets/images/portfolio/4.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                </div>
              </div>
            </div> 
          </div> 
        </div> 
      </div>  -->


<!-- 
      =============================================
        Home Service div
      ============================================== 
      -->
<div class="home-service-section">
  <div class="container">
    <div class="col-md-9 col-md-offset-3 main-container">
      <div class="theme-title">
        <h6>Our Services</h6>
        <h2>To create more financially <br>
          independent families</h2>
        <!-- <p>We’ve strong work history with different business services</p> -->
        <a href="service-v1.html" class="tran3s">See All Services</a>
      </div> <!-- /.theme-title -->
      <ul class="clearfix row">
        <li class="col-md-6">
          <div>
            <i class="flaticon-user"></i>
            <h5><a href="service-v1.html" class="tran3s">College Planning</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-layers"></i>
            <h5><a href="service-v1.html" class="tran3s">Proper Insurance</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-bar-chart"></i>
            <h5><a href="service-v1.html" class="tran3s">Retirement Investment</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
        <li class="col-md-6">
          <div>
            <i class="flaticon-smartphone"></i>
            <h5><a href="service-v1.html" class="tran3s">Final Expense</a></h5>
            <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
          </div>
        </li>
      </ul>
    </div> <!-- /.main-container -->
    <!-- <img src="../../../assets/images/home/shape-2.png" alt="Image" class="wow fadeInLeft"> -->
    <img width="854" height="632" src="../../../assets/imgs/Group 144.svg">
  </div> <!-- /.container -->
</div> <!-- /.home-service-section -->



<!-- ==================== TWO SECTION WRAPPER ====================== -->
<div class="two-section-wrapper">
  <!-- 
        =============================================
          Testimonial
        ============================================== 
        -->
  <div class="testimonial-section">
    <div class="image-box wow fadeInLeft">
      <img width="854" height="632" src="../../../assets/imgs/Group 146.svg">
    </div>
    <div class="container">
      <div class="main-container col-md-6 col-md-offset-6">
        <div class="theme-title">
          <h6>Testimonials</h6>
          <h2>Check what’s our client <br>Say about us</h2>
        </div>
        <div class="testimonial-slider">
          <div id="tmyCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../../../assets/imgs/Home Banner Background.svg" alt="Los Angeles">
                <div class="carousel-caption tcarousel-caption">
                  <div class="wrapper">
                    <p>Their testimonial videos aren't production quality, but they get the message across, cover
                      useful
                      &amp; relevant information which goes to show you don't need to invest thousands in production
                      get some
                      testimonial videos up with quality. </p>
                    <div class="name clearfix">
                      <img src="../../../assets/images/home/3.jpg" alt="">
                      <h5>Rashed Kabir</h5>
                      <span>Gazipur</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <img src="../../../assets/imgs/Home Page banner background.svg" alt="Chicago" style="width:100%;">
                <div class="carousel-caption tcarousel-caption">
                  <div class="wrapper">
                    <p>Their testimonial videos aren't production quality, but they get the message across, cover
                      useful
                      &amp; relevant information which goes to show you don't need to invest thousands in production
                      get some
                      testimonial videos up with quality. </p>
                    <div class="name clearfix">
                      <img src="../../../assets/images/home/3.jpg" alt="">
                      <h5>Rashed Kabir</h5>
                      <span>Gazipur</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#tmyCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#tmyCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
        =============================================
          Pricing Plan Style One
        ============================================== 
        -->
  <!-- <div class="pricing-plan-one">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12 wow fadeInLeft">
          <div class="theme-title">
            <h6>Our pricing</h6>
            <h2>Not any hidden <br>charge, Choose you <br>pricing plan</h2>
            <p>We have differe type of pricing table to choose with <br>your need with resonable price. </p>
          </div> 
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#monthly">Monthly</a></li>
            <li><a data-toggle="tab" href="#yearly">Yearly</a></li>
          </ul>
        </div> 

        <div class="col-md-6 col-xs-12 wow fadeInRight">
          <div class="tab-content">
            <div id="monthly" class="tab-pane fade in active">
              <div class="clearfix">
                <div class="float-left left-side">
                  <span><sub>$</sub>96.<sup>99</sup></span>
                  <h6>Business</h6>
                  <a href="#">+</a>
                </div> 
                <div class="right-side float-left">
                  <h6>40% OFF</h6>
                  <h4>Weekly Package</h4>
                  <ul>
                    <li>50GB Bandwidth</li>
                    <li>Business & Financ Analysing</li>
                    <li>24 hour support</li>
                    <li>Customer Managemet</li>
                  </ul>
                </div> 
              </div>
            </div> 
            <div id="yearly" class="tab-pane fade">
              <div class="clearfix">
                <div class="float-left left-side">
                  <span><sub>$</sub>296.<sup>99</sup></span>
                  <h6>Business</h6>
                  <a href="#">+</a>
                </div> 
                <div class="right-side float-left">
                  <h6>40% OFF</h6>
                  <h4>Weekly Package</h4>
                  <ul>
                    <li>50GB Bandwidth</li>
                    <li>Business & Financ Analysing</li>
                    <li>24 hour support</li>
                    <li>Customer Managemet</li>
                  </ul>
                </div> 
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div> -->
</div>



<!-- 
      =============================================
        Home Blog Section
      ============================================== 
      -->
<div class="home-blog-section">
  <div class="container">
    <div class="theme-title text-center">
      <h6>Our News</h6>
      <h2>News from our company</h2>
    </div> <!-- /.theme-title -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-one">
          <img src="../../../assets/images/home/6.jpg" alt="">
          <h6>Rashed Ka.</h6>
          <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-two">
          <img src="../../../assets/images/home/7.jpg" alt="">
          <h6>Jannatul Fa.</h6>
          <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-three">
          <img src="../../../assets/images/home/8.jpg" alt="">
          <h6>Fred Johnston</h6>
          <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-four">
          <img src="../../../assets/images/home/9.jpg" alt="">
          <h6>Austin Cross</h6>
          <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <iframe width="100%" height="516" src="https://www.youtube.com/embed/cq4OCO0Fjz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> <!-- /.home-blog-section -->