.wehelp{
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 50px;
    padding-top: 100px;
    color: black;
    text-align: left;
}
.join-btn{
    width: 200px;
    border-radius: 50px;
    background-color: #3d73d2;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    position: absolute;
    left: 8%;
    outline:none;
}
.join-btn a {
    color: #ffffff !important;
}
/* .item {
    height: 550px;
} */
.f-28{
    font-size: 28px;
}
.p-b-0{
    padding-bottom: 0px;
    padding-top: 100px;
}
.testimonial-section {
    padding: 30px 0 150px 0;
    position: relative;
    z-index: 9;
    margin-bottom: 0px;
}
.carousel-caption {
    right: 0%;
    left: 10%;
    top:15%;
    padding-bottom: 30px;
}
#tmyCarousel .item {
height:500px;

}

.tcarousel-caption {
text-align: left;
top:-5%;
color: rgba(0,0,0,0.65);
    padding-bottom: 30px;
}
.abt-image-box{
    position: absolute;
    top: 50px;
    left: -105px;
    z-index: 1;
}
.t-i-b {
    left: -160px !important;
}

.home-service-section img {
    position: absolute;
    left: 0;
    top: 150px;
}
.home-service-section{
    padding-top:150px;
}

.home-service-section img {
    position: absolute;
    left: -278px;
    top: 150px;
}
/**Padding*/

.p-b-80{
    padding-bottom: 80px !important;
}