<div class="m-130"></div>
<div class="container">

  <div class="payment">
    <table>
      <tr>
        <td>Name</td>
        <td>Jayanthi</td>
      </tr>
      <tr>
        <td>Agent Id</td>
        <td>1001</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>$100</td>
      </tr>
      <tr class="text-center">
      <ngx-paypal [config]="payPalConfig" class="p-btn"></ngx-paypal>
      </tr>
    </table>

  </div>



</div>