.payment{
    border: 2px solid black;
    width: 400px;
    height: 350px;
    margin: 15% 10% 10% 35%;
}
table{
    width:100%;
}
td {
    padding:20px;
}
.p-btn{
    margin-top: 30px;
    margin-left: 120px;
}