
.contact-page-banner {
    background: url(../../../assets/imgs/ContactUsPageBanner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 190px;
  }
  .inner-page-banner .opacity {
    text-align: center;
    background: transparent;
    padding: 220px 0 175px 0;
  }
  .inner-page-banner .opacity h1 {
    color: #000000;
    text-transform: capitalize;
  }
  .inner-page-banner .opacity ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: 40px 2px 0 2px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1.1px;
  }
  .inner-page-banner .opacity ul li a {color: #000000;}

  .submit-btn{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
}
.submit-btn:hover, .submit-btn:focus ,.submit-btn:active
{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
    outline:none;
}
.fl {
  float: left;
}
.c-p {
  margin-top: -5px !important;
	margin-left: 30px !important;
}
.p-t-30{
  padding-top:30px;
}