<div class="m-130"></div>
<div class="container">
  <div class="payment">
  	<h1>Thank You</h1>
  	<p>proceed to login</p>
      <button (click)="onLogin()" class="btn btn-primary p-btn">Login</button>
  </div>
</div>