<div class="m-130">
<div class="container">
    <div class="col-lg-4">
      <form [formGroup]="agentloginform" (ngSubmit)="onLogin(agentloginform.value)">
        <div class="form-group">
            <label class="form-control-placeholder" for="f_name">Email</label>
            <input type="email" formControlName="emailId" name="emailId" id="emailId" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.emailId.errors }" placeholder="email ID" />
            <div *ngIf="submitted && ad.emailId.errors" class="invalid-feedback">
              <div *ngIf="ad.emailId.errors.required">emailId is required</div>
            </div>
          </div>
        <div class="form-group">
            <label class="form-control-placeholder" for="f_name">Password</label>
            <input type="password" formControlName="password" name="password" id="password" class="form-control" required
              [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="password" />
            <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
              <div *ngIf="ad.password.errors.required">password is required</div>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
</div>
</div>