<div class="m-130"></div>
<div class="container-fluid p-0 register-banner">
  <img src="../../../assets/imgs/Agent Landing Page banner.jpg">
  <div class="r-b-text">
    <p class="heading">Agent Registration</p>
    <p class="lead text-uppercase">Home/agent login</p>
  </div>
</div>