			<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
			-->
			<div class="inner-page-banner contact-page-banner">
				<div class="opacity">
					<h1>Contact US</h1>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>/</li>
						<li>Contact</li>
					</ul>
				</div> <!-- /.opacity -->
			</div> <!-- /inner-page-banner -->
<div class="m-t-70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="p-g">WELCOME TO MAX AGENT FINANCIAL</p>
      <p class="p-b">Striving to take advantage of today’s opportunities for<br>
        customers and clients. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="../../../assets/imgs/About Us Page Banner.jpg">
    </div>
  </div>
  <div class="row m-t-b-30">
    <div class="col-md-12">
      <div class="col-md-1">

      </div>
      <div class="col-md-2">
       <p class="f-b lead">  Our mission</p>
      </div>
      <div class="col-md-8">
        <p class="lead">To give people from all backgrounds the power to become financial
          services business owners, so that every family can access financial
          knowledge, products, and resources to prepare for a better future.</p>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</div>
<!--team-->
<div class="container m-t-b">
  <div class="row">
    <p class="heading text-center">Our Team</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/images/team/1.jpg">
        </div>
        <div class="">
          <p>Jasvir Thandi</p>
          <p>Founder of Max Agent Financial</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/images/team/1.jpg">
        </div>
        <div class="">
          <p>Jasvir Thandi</p>
          <p>Founder of Max Agent Financial</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/images/team/1.jpg">
        </div>
        <div class="">
          <p>Jasvir Thandi</p>
          <p>Founder of Max Agent Financial</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-default text-center">See All</button>
  </div>
</div>

<!--Partners-->
<div class="container">
  <div class="row">
    <p class="heading text-center">Our trusted partners</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/imgs/Prudential partner logo.svg">
        </div>

      </div>
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/imgs/partner -nationwide.svg">
        </div>

      </div>
      <div class="col-md-4">
        <div class="">
          <img src="../../../assets/imgs/Partner Transamerica.svg">
        </div>

      </div>
    </div>
  </div>

</div>