table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
.success-msg
{
    z-index: 100;
    color: white !important;
    background-color: #ced4de;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    bottom: 20%;
    box-shadow: 10px 10px 20px #000000a6;
    width: 550px;
    height: 190px;
    padding: 20px;
    FONT-SIZE: 18px;
    opacity: 0.85;
    font-weight: bold;
    -webkit-animation-name: box;
    animation-name: box;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.proceedlink{
    color: white !important;
    text-align: center;
}
.white {
    color: #fff !important;
}
.proceedbtn{
    margin: 40px 200px;
}
.proceedbtn:hover, .proceedbtn:focus ,.proceedbtn:active
{
    color: #fff;
    background-color: #4343d6;
    border-color: #4343d6;
}
.btn-success {
    color: #fff;
    background-color: #4343d6;
    border-color: #4343d6;
}
.green {
    color: #4343d6;
}
/**Register Model*/

.rejectDiv
{
position: absolute;
top: 15%;
left:30%;
background: lightgray;

}
.rform{
  padding:30px;
}
.m-t-30{
  margin-top:30px;
}
.close {
  right: 10px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  /* top: 0px; */
  position: absolute;
}